PORT=5000
JWT_SECRET=
REFRESH_JWT_SECRET=
MONGODB_URL=mongodb://127.0.0.1:27017/testphoneshell
JWT_EXPIRE=1h
REFRESH_JWT_EXPIRE=12h

# s3 or aliyun
FILE_STORAGE=s3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

OSS_REGION=oss-cn-shenzhen
OSS_ACCESS_KEY_ID=your_access_key_id
OSS_ACCESS_KEY_SECRET=your_access_key_secret
OSS_BUCKET=phoneshellimages
# https://github.com/ali-sdk/ali-oss?tab=readme-ov-file#data-regions
OSS_ENDPOINT=oss-cn-shenzhen.aliyuncs.com
OSS_INTERNAL=false